#main-container {
    height: 800px;
}

#my-palette {
    flex: 1;
}

#my-diagram {
    flex: 3;
}

.inspector {
  display: inline-block;
  font: bold 14px helvetica, sans-serif;
  /*background-color: #212121; /* Grey 900 */
  color: #212121; /* Grey 100 */
  cursor: default;
}

.inspector table {
  border-collapse: separate;
  border-spacing: 2px;
}

.inspector td, th {
  padding: 2px;
}